= link_to 'View', view_path

.hello
  %h1 Happenings
  %p the quickest way to privately share what’s going on between friends!

.demo
  .slide
    =image_tag "/step-1.png"
  .slide
    =image_tag "/step-2.png"
  .slide
    =image_tag "/step-3.png"