.navbar.navbar-collapse
  %ul.nav.navbar-nav.pull-right
    %li
      = link_to 'Download', 'http://eightbitstudios.com'
    

.hello
  =image_tag '/loader.gif', :class=> 'boom center-block'
  %h1 Happenings
  %p The quickest way to privately share what’s going on between friends!
  %p.call-to-action
    = link_to 'Enter a Happening', view_path, :class=> 'btn btn-lg btn-default'

.demo
  .row.slide.cfx
    =image_tag '/step-1.png', :class=> 'pull-right img-responsive' 
    %p Capture what’s happening.
  .row.slide
    =image_tag '/step-2.png', :class=> 'pull-left img-circle img-responsive'
    %p Share the code to invite friends.
  .row.slide
    =image_tag '/step-3.png', :class=> 'pull-right img-responsive'
    %p Watch along as it all happens!