.navbar.navbar-collapse
  %ul.nav.navbar-nav.pull-right
    /%li
    /  = link_to 'Download', 'http://eightbitstudios.com'
    %li
      Coming Soon!

.hello
  =image_tag '/logo-intro.gif', :class=> 'boom center-block'
  %h1 Happenings
  %p The quickest way to privately share what’s going on between friends!
  %p.call-to-action
    = link_to 'See What\'s Happening', view_path, :class=> 'btn btn-lg btn-default'

.demo
  .row
    .container
      .col.text
        %p Capture what’s happening.
      .col.pic
        =image_tag '/haps_capture.gif'
  .row.step-2
    .container
      .col.text
        %p Share the code to invite friends.
      .col.pic
        =image_tag '/haps_join.gif'
  .row.step-3
    .container
      .col.text
        %p Watch along as it all happens!
      .col.pic
        =image_tag '/haps_watch.gif'


.legal
  .text-center
    
    
    = link_to 'Terms', legal_terms_path
    = link_to 'Privacy', legal_privacy_path
    .small
      An 
      = link_to 'Eight Bit Studios', 'http://eightbitstudios.com'
      Production